{% extends 'index.html' %}


{% block content %} 
{% if form.errors %}
     <div>
       Mensaje de alerta 
     </div>
{% endif %}
<h1> Registro de Comidas </h1>
<form action="{% url 'guardarComidas' %}" method="POST">
     {% csrf_token %}
     {% if mensaje %}
         <div class="alert alert-success" role="alert">
           Comida registrada exitosamente
         </div>
     {% endif %}
     {{ form }}
     <button type="submit">
</form>

<form method="POST" action="{% url 'export_excel1' %}">
  {% csrf_token %}
  <select name="option">
      <option value="historico">Histórico</option>
      <option value="mes">Seleccionar un mes</option>
  </select>
  <input type="month" name="month">
  <input type="submit" value="EXPORTAR EXCEL">
</form>
{% endblock %}
